@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-black-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;

  --accent-color: #2196f3;
  --background-black: #21303a;
  --background-gray: #f5f4fa;
  --button-filter: #f5f4fa;
  --button-primary-hover: #188ce8;
  --logo-black: #000000;
  --text-white-opacity: #ffffff99;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a{
  text-decoration: none;
}

.list {
  list-style: none;
}
.button-primary{
  font-size: 16px;
  background-color: var(--accent-color) ;
  color: var(--primary-white-color);
  text-transform: capitalize;
}
.button-primary:hover{
  background-color: var(--button-primary-hover) ;

}

/* Secci贸n Header  */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.logo-black {
  color: var(--logo-black);
}
.logo-white {
  color: var(--primary-white-color);
}

.nav-menu .page {
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.contacts-menu .item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--accent-color);
}
/* Secci贸n general  */
.hero{
  background-color: var(--primary-black-color) ;
}
.hero .hero-title{
  color: var(--primary-white-color);
  font-size: 44px;
  text-transform: capitalize;
}

/* Secci贸n portafolio  */
.portfolio .list li button {
  color: var(--primary-black-color);
  background-color: var(--text-white-opacity);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.portfolio .list li button:hover,
.portfolio .list li button.current{
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio .cards li{
  margin-bottom: 20px; 
  width: 360px;
}
.portfolio .cards li a h2{
  color: var(--primary-black-color);
  padding: 15px;
}
.portfolio .cards li a p{
  color: var(--primary-text-color);
  font-size: 16px;
  padding: 15px;
}
/* secci贸n footer  */
footer {
  background-color: var(--background-black);
}

address .contact {
  color: var(--text-white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

address .contact:hover{
  color: var(--primary-white-color);
}

